<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>

<div class="grey-bg container-fluid">
  <section id="minimal-statistics">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase">Machine Dashboard Cell</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12"> 
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                    <i class="icon-graph success font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>Running: 15</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                    <i class="icon-graph success font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>Down: 02</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-graph success font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>NO Plan: 01</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-graph success font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>Mould Chang: 00</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12"> 
    <div class="donut-chart-block block">
        <h2 class="titular">L01-FUTURA220</h2>
        <div class="row">       
            <div class="col-4">
                <div class="row">
                    <div class="col-6">
                        <h6>Actual:<span>2000</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="donut-chart">
                    <div id="porcion2" class="recorte"><div class="quesito mac" data-rel="39"></div></div>
                    <div id="porcion3" class="recorte"><div class="quesito win" data-rel="31"></div></div>
                    <div id="porcionFin" class="recorte"><div class="quesito linux" data-rel="9"></div></div>
                    <p class="center-date">10.33%<br><span class="scnd-font-color">%Eff</span></p>        
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-sm-6 col-12">
    <div class="donut-chart-block block">
        <h2 class="titular">L02-FUTURA220</h2>
        <div class="row">       
            <div class="col-4">
                <div class="row">
                    <div class="col-6">
                        <h6>Actual:<span>2000</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-8">
        <div class="donut-chart">
            <div id="porcion1" class="recorte"><div class="quesito ios" data-rel="21"></div></div>
            <div id="porcion3" class="recorte"><div class="quesito win" data-rel="31"></div></div>
            <div id="porcionFin" class="recorte"><div class="quesito linux" data-rel="9"></div></div>
            <p class="center-date">91.24<br><span class="scnd-font-color">%Eff</span></p>        
        </div>
    </div>
</div>
</div>  
</div>
<div class="col-xl-3 col-sm-6 col-12">
    <div class="donut-chart-block block">
        <h2 class="titular">L03-FUTURA220</h2>
        <div class="row"> 
        <div class="col-4">
            <div class="row">
                <div class="col-6">
                    <h6>Actual:<span>2000</span></h6>
                </div>
            </div>
        </div>
        <div class="col-8">
        <div class="donut-chart">
            <div id="porcion1" class="recorte"><div class="quesito ios" data-rel="21"></div></div>
            <div id="porcion2" class="recorte"><div class="quesito mac" data-rel="39"></div></div>
            <div id="porcionFin" class="recorte"><div class="quesito linux" data-rel="9"></div></div>
            <p class="center-date">91.24<br><span class="scnd-font-color">%Eff</span></p>        
        </div>
    </div>
</div>
</div>
    </div>
<div class="col-xl-3 col-sm-6 col-12">
    <div class="donut-chart-block block">
        <h2 class="titular">L04-FUTURA220</h2>
        <div class="row"> 
            <div class="col-4">
                <div class="row">
                    <div class="col-6">
                        <h6>Actual:<span>2000</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-8">
        <div class="donut-chart">
            <div id="porcion1" class="recorte"><div class="quesito ios" data-rel="21"></div></div>
            <!-- <div id="porcion2" class="recorte"><div class="quesito mac" data-rel="39"></div></div>
                <div id="porcion3" class="recorte"><div class="quesito win" data-rel="31"></div></div> -->
                <p class="center-date">0<br><span class="scnd-font-color">%Eff</span></p>        
            </div>
        </div>
    </div>
    </div>
</div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="donut-chart-block block">
            <h2 class="titular">L05-FUTURA220</h2>
            <div class="row"> 
                <div class="col-4">
                    <div class="row">
                        <div class="col-6">
                            <h6>Actual:<span>2000</span></h6>
                        </div>
                    </div>
                </div>
                <div class="col-8">
            <div class="donut-chart">
                <div id="porcion2" class="recorte"><div class="quesito mac" data-rel="39"></div></div>
                <div id="porcion3" class="recorte"><div class="quesito win" data-rel="31"></div></div>
                <div id="porcionFin" class="recorte"><div class="quesito linux" data-rel="9"></div></div>
                <p class="center-date">76.35<br><span class="scnd-font-color">%Eff</span></p>        
            </div>
        </div>
    </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="donut-chart-block block">
            <h2 class="titular">L06-FUTURA220</h2>
            <div class="row"> 
                <div class="col-4">
                    <div class="row">
                        <div class="col-6">
                            <h6>Actual:<span>2000</span></h6>
                        </div>
                    </div>
                </div>
                <div class="col-8">
            <div class="donut-chart">
                <div id="porcion1" class="recorte"><div class="quesito ios" data-rel="21"></div></div>
                <div id="porcion3" class="recorte"><div class="quesito win" data-rel="31"></div></div>
                <div id="porcionFin" class="recorte"><div class="quesito linux" data-rel="9"></div></div>
                <p class="center-date">91.24<br><span class="scnd-font-color">%Eff</span></p>        
            </div>
        </div>
            </div>
        </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
        <div class="donut-chart-block block">
            <h2 class="titular">L07-FUTURA220</h2>
            <div class="row"> 
                <div class="col-4">
                    <div class="row">
                        <div class="col-6">
                            <h6>Actual:<span>2000</span></h6>
                        </div>
                    </div>
                </div>
                <div class="col-8">
            <div class="donut-chart">
                <div id="porcion1" class="recorte"><div class="quesito ios" data-rel="21"></div></div>
                <div id="porcion2" class="recorte"><div class="quesito mac" data-rel="39"></div></div>
                 
                <div id="porcionFin" class="recorte"><div class="quesito linux" data-rel="9"></div></div>
                <p class="center-date">91.45<br><span class="scnd-font-color">%Eff</span></p>        
            </div>
        </div>
        </div>
        </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
        <div class="donut-chart-block block">
            <h2 class="titular">L08-FUTURA220</h2>
            <div class="row"> 
                <div class="col-4">
                    <div class="row">
                        <div class="col-6">
                            <h6>Actual:<span>2000</span></h6>
                        </div>
                    </div>
                </div>
                <div class="col-8">
            <div class="donut-chart">
                <div id="porcion1" class="recorte"><div class="quesito ios" data-rel="21"></div></div>
                <div id="porcion2" class="recorte"><div class="quesito mac" data-rel="39"></div></div>
                <div id="porcion3" class="recorte"><div class="quesito win" data-rel="31"></div></div>
                 
                <p class="center-date">91.23<br><span class="scnd-font-color">%Eff</span></p>        
            </div>
        </div>
        </div>
         </div>
        </div>
    </div>
</div>


<!-- <form>
    <ion-grid>
      <ion-row>
        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
          <ion-item>
            <ion-label position="floating">Country</ion-label>
            <ion-select value="usa" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="usa">United States</ion-select-option>
              <ion-select-option value="india">India</ion-select-option>
              <ion-select-option value="france">France</ion-select-option>
              <ion-select-option value="spain">Spain</ion-select-option>
              <ion-select-option value="brazil">Brazil</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-lg="6" size-md="4" size-sm="4" size="12">
          <ion-item>
            <ion-label position="floating">Choose City</ion-label>
            <ion-select value="california" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="california">California</ion-select-option>
              <ion-select-option value="illinois">Illinois</ion-select-option>
              <ion-select-option value="texas">Texas</ion-select-option>
              <ion-select-option value="pennsylvania">Pennsylvania</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-lg="6" size-md="6" size-sm="4" size="12">
          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size-lg="6" size-md="6" size-sm="4" size="12">
          <ion-item>
            <ion-label position="floating">Postal Code</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
          <ion-item>
            <ion-label position="floating">Gender</ion-label>
            <ion-select value="male" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="male">Male</ion-select-option>
              <ion-select-option value="female">female</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
          <ion-item>
            <ion-label position="floating">Age</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form> 
  
    <form>
    <ion-grid>
      <ion-row>
        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
          <ion-item>
            <ion-label position="floating">Username/Email</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="6" size="12">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="6" size="12">
          <ion-item>
            <ion-label position="floating">Middle Name</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="6" size="12">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="6" size-md="6" size-sm="12" size="12">
          <ion-item>
            <ion-label position="floating">Address Line 1</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size-lg="6" size-md="6" size-sm="12" size="12">
          <ion-item>
            <ion-label position="floating">Address Line 2</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
          <ion-item>
            <ion-label position="floating">City</ion-label>
            <ion-select value="newyork" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="newyork">New York</ion-select-option>
              <ion-select-option value="tokyo">Tokyo</ion-select-option>
              <ion-select-option value="london">London</ion-select-option>
              <ion-select-option value="newdelhi">New Delhi</ion-select-option>
              <ion-select-option value="jakarta">Jakarta</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
          <ion-item>
              <ion-label position="floating">Country</ion-label>
              <ion-select value="usa" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="usa">United States</ion-select-option>
                <ion-select-option value="japan">Japan</ion-select-option>
                <ion-select-option value="uk">United Kingdom</ion-select-option>
                <ion-select-option value="india">India</ion-select-option>
                <ion-select-option value="indonesia">Indonesia</ion-select-option>
              </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
          <ion-item>
            <ion-label position="floating">Post Code</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="3" size-md="3" size-sm="3" size="12">
          <ion-item>
            <ion-label position="floating">Gender</ion-label>
            <ion-select value="male" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="male">Male</ion-select-option>
              <ion-select-option value="female">female</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-lg="3" size-md="3" size-sm="3" size="12">
          <ion-item>
            <ion-label position="floating">Age</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="3" size-md="3" size-sm="3" size="12">
          <ion-item>
            <ion-label position="floating">Height</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="3" size-md="3" size-sm="3" size="12">
          <ion-item>
            <ion-label position="floating">Weight</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
          <ion-item>
            <ion-label position="floating">Occupation</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
          <ion-item>
            <ion-label position="floating">Position</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
          <ion-item>
            <ion-label position="floating">Company</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
          <ion-item>
            <ion-label position="floating">Basic Salary</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
          <ion-item>
            <ion-label position="floating">Meal</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
          <ion-item>
            <ion-label position="floating">Transport</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
          <ion-item>
            <ion-label position="floating">Notes</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>   -->
         



